<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="card mt-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">{{ task.description }}</h3>
        {% if task.detailed_description is not None %}
            <p class="card-title" style="white-space: pre-wrap">{{ task.detailed_description }}</p>
        {% endif %}
        <p class="card-subtitle mb-2 text-success"><i>{{ task.status }}</i></p>
        {% if task.date_of_completion is not None %}
            <p class="card-text">{{ task.date_of_completion }}</p>
        {% endif %}
        <a href="delete/{{ task.id }}/" class="card-link, link-danger">Удалить задачу</a>
        <a href="/" class="card-link">На главную</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>