{% extends 'base.html' %}
{% block title %}
    <title>Detailed task view</title>
{% endblock %}
{% block links %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'create_task' %}">Создание задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'delete_task' task.pk %}">Удалить задачу</a>
    </li>
{% endblock %}
{% block content %}
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{ task.description }}</h3>
            {% if task.detailed_description is not None %}
                <p class="card-title" style="white-space: pre-wrap">{{ task.detailed_description }}</p>
            {% endif %}
            <p class="card-subtitle mb-2 text-success"><i>{{ task.status }}</i></p>
            {% if task.date_of_completion is not None %}
                <p class="card-text">{{ task.date_of_completion }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}