{% extends 'base.html' %}
{% block title %}
    <title>Detailed task view</title>
{% endblock %}
{% block content %}
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{ task.description }}</h3>
            {% if task.detailed_description is not None %}
                <p class="card-title" style="white-space: pre-wrap">{{ task.detailed_description }}</p>
            {% endif %}
            <p class="card-subtitle mb-2 text-success"><i>{{ task.status }}</i></p>
            {% if task.date_of_completion is not None %}
                <p class="card-text">{{ task.date_of_completion }}</p>
            {% endif %}
            <a href="{% url 'delete_task' task.pk %}" class="card-link, link-danger">Удалить задачу</a>
            <a href="{% url 'tasks' %}" class="card-link">На главную</a>
        </div>
    </div>
{% endblock %}