{% extends 'base.html' %}
{% block title %}
    <title>Tasks</title>
{% endblock %}
{% block content %}
    <a href="{% url 'create_task' %}">Добавить новую задачу</a>
    <br>
    {% for task in tasks %}
        <div class="card mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                <h6 class="card-subtitle mb-2 text-success">{{ task.status }}</h6>
                {% if task.date_of_completion is not None %}
                    <p class="card-text">{{ task.date_of_completion }}</p>
                {% endif %}
                <a href="{% url 'delete_task' task.pk %}" class="card-link, link-danger">Удалить задачу</a>
                <a href="{% url 'detailed_task_view' task.pk %}" class="card-link, link-info">Детальный просмотр</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}