{% extends 'base.html' %}
{% block title %}
    <title>Detailed task view</title>
{% endblock %}
{% block links %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:delete_task' task.pk %}">Удалить задачу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:update_task' task.pk %}">Редактировать
                задачу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:tasks_list' %}">Список задач</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card mt-3" style="width: 19rem;">
        <div class="card-body">
            <h3 class="card-title">{{ task.summary }}</h3>
            {% if task.description %}
                <p class="card-title" style="white-space: pre-wrap">{{ task.description }}</p>
            {% endif %}
            <p class="card-subtitle mb-2 text-success"><i><span
                    class="text-body-secondary">Статус: </span>{{ task.status }}</i></p>
            <p class="card-subtitle mb-2 text-info-emphasis"><i><span class="text-body-secondary">Тип: </span>
                {% for type in task.type.all %}
                    {{ type.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</i></p>
            <p class="card-text text-warning-emphasis"><span
                    class="text-body-secondary">Создано: </span>{{ task.created_at }}</p>
            <p class="card-text text-warning-emphasis"><span
                    class="text-body-secondary">Обновлено: </span>{{ task.updated_at }}</p>
        </div>
    </div>
{% endblock %}